.card {
    border: 2px solid #222;
    border-radius: 15px;
    width: 250px;
    transition: opacity 500ms ease;
}

.to-top {
    background-color: crimson;
    color: white;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 100%;
    transition: transform 500ms ease;
    font-size: 20px;
}

.to-top:hover {
    transform: scale(1.1);
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* altura al menos tu pantalla */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.hero {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222333;
}

h1 {
    color: white;
}



.image img {
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

h3,
p {
    margin: 0;
}

.addbutton {
    position: absolute;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    bottom: 7px;
    right: 2px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    transition: transform 500ms ease;
}

.addbutton:hover {
    transform: translateY(-10px);
}

.image {
    position: relative;
}

.info {
    padding: 20px;
}

.cta {
    padding: 10px 15px;
    border-radius: 100px;
    background-color: red;
    color: white;
    text-decoration: none;
}

#catalogo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}